:root {
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --white: #fff;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header section */

.list {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
  align-items: center;
}

li {
  display: inline;
  margin-right: 10px;
}

.header {
  width: 1440px;
  height: 72px;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.studio-color {
  color: var(--navyblue);
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

img {
  display: block;
}

.nav {
  display: flex;
  gap: 8px;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.address {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.32px;
}

.address-link {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

/* hero section */

.hero-section {
  background: var(--navyblue);
}

.hero-title {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;
  padding-top: 188;
  padding-right: 472;
  padding-bottom: 292;
  padding-left: 472;
}

button {
  font-family: inherit;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--iris);
  padding-top: 356;
  padding-right: 635;
  padding-bottom: 188;
  padding-left: 636;
  text-align: center;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
  cursor: pointer;
}

.order-servise {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}

/* benefits section */

.benefits-list-subtitle {
  color: var(--navyblue);

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.benefits-list-desc {
  color: var(--slate);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* doing section */

.doing-section {
  background: #fff;
}

.doing-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.doing-list-img {
  border: var(--cornflower);
  background: lightgray;
}

/* team section */

.team-seaction {
  background: var(--cloud);
}
.team-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list-item {
  background: var(--white);
}

.team-list-subtitle {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-list-desc {
  color: var(--slate);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* filters section */

.portfolio-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
}

.portfolio-button:focus,
.portfolio-button:hover {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}

.row-list-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.row-list-desc {
  color: var(--slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer section  */

.footer-section {
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
  background: var(--navyblue);
  box-sizing: border-box;
  align-items: center;
}

.footer-text {
  color: var(--cloud);
}

.footer-desc {
  color: var(--cloud);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 140px;
  padding-right: 1020px;
  padding-bottom: 100px;
  padding-left: 156;
}
