body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffff;
}

:root {
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --white: #fff;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
}

/* header section */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.studio-color {
  color: var(--navyblue);
}

.nav {
  font-family: 'Roboto';
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.address {
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.32px;
}

.address-link {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

/* hero section */

.hero-section {
  background: var(--navyblue);
}

.hero-title {
  font-family: 'Roboto';
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--iris);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
  cursor: pointer;
}

.order-servise {
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}

/* benefits section */

.benefits-list-subtitle {
  color: var(--navyblue);
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.benefits-list-desc {
  color: var(--slate);
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* doing section */

.doing-section {
  background: #fff;
}

.doing-title {
  color: var(--navyblue);
  text-align: center;
  font-family: 'Roboto';
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.doing-list-img {
  border: var(--cornflower);
  background: lightgray;
}

/* team section */

.team-seaction {
  background: var(--cloud);
}
.team-title {
  color: var(--navyblue);
  text-align: center;
  font-family: 'Roboto';
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list-item {
  background: var(--white);
}

.team-list-subtitle {
  color: var(--navyblue);
  text-align: center;
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-list-desc {
  color: var(--slate);
  text-align: center;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* filters section */

.portfolio-button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
}

.portfolio-button:focus,
.portfolio-button:hover {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}

.row-list-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.row-list-desc {
  color: var(--slate);
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer section  */

.footer-section {
  background: var(--navyblue);
}

.footer-text {
  color: var(--cloud);
}

.footer-desc {
  color: var(--cloud);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
